[submodule "3rdParty/txt_demo_c_download"]
	path = 3rdParty/txt_demo_c_download
	url = https://github.com/fischertechnik/txt_demo_c_download
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
