[submodule "3rdParty/txt_demo_c_download"]
	path = 3rdParty/txt_demo_c_download
	url = https://github.com/fischertechnik/txt_demo_c_download
[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdParty/timercpp"]
	path = 3rdParty/timercpp
	url = https://github.com/99xt/timercpp.git
